<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>


<div class="charts-container">
    <nav class="navbar">
        <ul>
            <li th:if="${session.userId == null}"><a th:href="@{/user/login}">로그인</a></li>
            <li th:if="${session.userId == null}"><a th:href="@{/user/login}">회원가입</a></li>
            <li th:if="${session.userId != null}"><a th:href="@{/user/logout}">로그아웃</a></li>

        </ul>
    </nav>
    <div class="chart">
        <h1>주간 차트 <a style="font-size: 10px">*전주 기준</a></h1>
        <table id="weekly-table"></table>
    </div>
    <div class="chart">
        <h1>데일리 차트 <a style="font-size: 10px">*전일 기준</a></h1>
        <table id="daily-table"></table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/weekly",
            dataType: "json",
            success: function (data) {
                var movieList = data;

                var table = $("<table>").addClass("table");
                var row = $("<tr>");
                row.append($("<th>").text("순위"));
                row.append($("<th>").text("전주 대비 순위"));
                row.append($("<th>").text("영화 제목"));
                row.append($("<th>").text("개봉일"));
                row.append($("<th>").text("누적 관객수"));
                table.append(row);

                $.each(movieList, function (key, value) {
                    var mn = value.name;
                    row = $("<tr>");
                    // row.append($("<td>").text(key));
                    row.append($("<td>").text(value.rank));
                    row.append($("<td>").text(value.rankInten));
                    row.append($("<td>").append($("<a>").attr('href', 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=' + mn + '%20평점'.replace("localhost:8080", "")).text(value.name)));
                    row.append($("<td>").text(value.openDt));
                    row.append($("<td>").text(value.audiAcc));
                    table.append(row);
                });
                $("#weekly-table").append(table);
            }
        });
    });
</script>
<!--데일리차트-->
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/main/daily",
            dataType: "json",
            success: function (data) {
                var movieList = data;

                var table = $("<table>").addClass("table");
                var row = $("<tr>");
                row.append($("<th>").text("순위"));
                row.append($("<th>").text("전일 대비 순위"));
                row.append($("<th>").text("영화 제목"));
                row.append($("<th>").text("개봉일"));
                row.append($("<th>").text("누적 관객수"));
                table.append(row);

                $.each(movieList, function (key, value) {
                    var mn = value.name;
                    row = $("<tr>");
                    // row.append($("<td>").text(key));
                    row.append($("<td>").text(value.rank));
                    row.append($("<td>").text(value.rankInten));
                    row.append($("<td>").append($("<a>").attr('href', 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=' + mn + '%20평점'.replace("localhost:8080", "")).text(value.name)));
                    row.append($("<td>").text(value.openDt));
                    row.append($("<td>").text(value.audiAcc));
                    table.append(row);
                });
                $("#daily-table").append(table);
            }
        });
    });
</script>

<div th:if="${session.userId != null}" class="bottom">
    <form action="/board/insert" method="post">
        아이디 : <a th:text="${session.userId}"></a>&nbsp;&nbsp;
        내용 :<input type="text" min="1" maxlength="30" placeholder="한줄평을 입력하세요" name="content">
        <button type="submit">확인</button>
    </form>

    <table>
        <tr>
            <th>번호</th>
            <th>내용</th>
        </tr>
        <tr th:each="boardList:${list}">
            <td th:text="${boardList.getId()}"></td>
            <td th:text="${boardList.getContent()}"></td>
        </tr>
    </table>

    <div class="pp">
        <a th:if="${page >= 1}" th:href="@{/(page=${page - 1})}">이전</a>
        <form action="/">
            <input type="number" name="page" min="1" th:max="${totalPage}" th:value="${page}"/>/
            <a th:text="${totalPage}"></a>
            <button type="submit" style="width:60px;height:31px;border-style:none;border-radius:10px">이동</button>
        </form>
        <a th:if="${page < totalPage}" th:href="@{/(page=${page + 1})}">다음</a>
    </div>
</body>
</html>